/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

@media (min-width: 1440px){
	.container {
		max-width: 1228px;
	}
}

.abt-p-margin{
	margin-bottom: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000;
    background-color: none !important;
    border-bottom: 2px solid black;
    border-radius: 0px;
}